# PostgreSQL (datasource Grafana)
POSTGRES_DB=grafana_metrics
POSTGRES_USER=grafana_user
POSTGRES_PASSWORD=Gr@fana2024!

# MariaDB (base de données GLPI)
MYSQL_ROOT_PASSWORD=R00t@Gl9xP
MYSQL_DATABASE=glpi
MYSQL_USER=glpi_user
MYSQL_PASSWORD=Gl9xP@ssw0rd

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=Admin@Grafana2024

# Prometheus
PROMETHEUS_RETENTION=15d