# PostgreSQL (datasource Grafana)
POSTGRES_DB=grafana_metrics
POSTGRES_USER=grafana_user
POSTGRES_PASSWORD=changeme

# MariaDB (base de données GLPI)
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=glpi
MYSQL_USER=glpi_user
MYSQL_PASSWORD=changeme

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# Prometheus
PROMETHEUS_RETENTION=15d
